<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <script
        src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
        crossorigin="anonymous"></script>
    <title>Pizza Delivery</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <script src="../javascripts/utils.js"></script>
</head>
<body class="container">
<header>
    <div class="tenavbar navbar-dark bg-light shadow-sm">
        <div class="text-center">
            <h1>Pizza Delivery</h1>
        </div>
    </div>
</header>

<form class="form-horizontal" method="post" action="/users/order">
    <br>
    <fieldset class="border p-2">
        <legend class="w-auto">Pizza Details</legend>

        <!--Crust Option-->
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <label class="input-group-text" for="crusty">Crust options</label>
            </div>
            <select class="custom-select" id="crusty" name="crusty">
                <option value="">Choose...</option>
                <% var options = crusties
                if (options.length > 0 && options !== 'undefined') {
                for (var i = 0; i < options.length; i++) { %>
                <option value='<%= options[i] %>'><%= options[i] %></option>
                <% }} %>
            </select>
          </div>

        <!--Toppings-->
        <div id="getResultToppingsDiv" style="display: none">
            <hr>
            <p>Choose the toppings:</p>
            <div class="form-check form-check-inline">
                <ul class="list-group"></ul>
            </div>
        </div>

        <!--Size-->
        <div id="size" style="display: none">
            <hr>
            <p>Choose the size:</p>
            <div class="form-check">
            <input type="radio" id="pizzaSizeSmall" name="size" value="small">
            <label for="pizzaSizeSmall">Small</label>

            <input type="radio" id="pizzaSizeMedium" name="size" value="medium">
            <label for="pizzaSizeMedium">Medium</label>

            <input type="radio" id="pizzaSizeLarge" name="size" value="large">
            <label for="pizzaSizeLarge">Large</label>
            </div>
        </div>

        <!--Quantity-->
        <div id="quantity" style="display: none">
            <hr>
            <label for="quantity">Quantity:</label>
            <input type="number" id="quantity" name="quantity" required>
        </div>
    </fieldset>
    <br>
    <div class="form-group">
        <div class="text-center">
            <button id="submitBtn" class="btn btn-info" type="submit" disabled>Order Now</button>
        </div>
    </div>
</form>
<footer>
    <p class="text-center text-muted">© Pizza Delivery</p>
</footer>
</body>
</html>
